
@media screen and (min-width: 620px) {

  #show-nav {
    background-color: rgb(255, 102, 102);
    color: #333;
    width: 14%;
    padding: 30px 0px 21px 0px;
    text-align: center;
    border-radius: 0px;
    float: right;
    margin: -1px 0px;
}
.about-paragraph {
    text-align: center;
    display: inline;
    margin-top: 50px;
    font-size: 1.1em;
    line-height: 1.5em;
}
}
@media screen and (min-width: 873px) {
  #tyler-about-pic {
      width: 30%;
      display: inline;
      margin-left: 75px;
      margin-top: 0px;
      border-radius: 100px;
  }
  .about-paragraph {
      text-align: left;
      display: inline;
      float: right;
      margin-top: 50px;
      /*margin-right: 75px;*/
      font-size: 1.1em;
      line-height: 1.5em;
  }
}
@media screen and (min-width: 1200px) {
  #show-nav {
    background-color: rgb(255, 102, 102);
    color: #333;
    width: 7%;
    padding: 30px 0px 24px 0px;
    text-align: center;
    border-radius: 0px;
    float: right;
    margin: -2px 0px;
  }
  /*#top-header {
      height: 90px;
      margin: -5px 0px 0px 0px;
  }*/
  .design-info-maintain {
      height: 230px;
      margin: -18.2em 0% 0% 0.8%;
      background-color: rgb(102, 140, 255);
      position: absolute;
      font-family: 'Crimson Text', serif;
      width: 32.1%;
      border-radius: 10%;
    }
  .design-info-word {
    height: 241px;
    margin: -19.1em 0% 0% 34.4%;
    background-color: rgb(102, 140, 255);
    position: absolute;
    font-family: 'Crimson Text', serif;
    width: 32.3%;
    border-radius: 10%;
    opacity: .9;
  }
  /*#custom-work-block {
    width: 29%;
    height: 230px;
    margin-left: 867px;
    margin-top: -294px;
    margin-bottom: 34px;
    /* padding-bottom: 0px; */
    border-radius: 10%;
  }*/
  .contact-paragraph {
      text-align: center;
      display: block;
      margin-top: 0px;
      padding-bottom: 25px;
      font-size: 1.1em;
      line-height: 1em;
    }
    .main-navigation {
      display: inline;
      float: right;
      position: relative;
      color: rgb(51, 51, 51);
      padding: 0px 10px;
      margin-top: 140px;
    }
    .menu li a {
        float: left;
        display: inline;
        margin-right: 10px;
        color: rgb(51, 51, 51);
        font-size: 1em;
        padding: 10px;
        list-style: none;
    }
  .design-labels-word {
      float: inherit;
      display: inline;
      padding: 23px 166px 0px 170px;
  }
  .design-labels {
      float: inherit;
      display: inline;
      padding: 0px 152px 0px 154px;
  }
  .maintainance-label {
      padding-left: 154px;
  }
  #hidden-wordpress-photo {
      width: 36%;
      height: 250px;
      display: inline;
      margin-right: 355px;
      margin-top: 0px;
      position: relative;
      border-radius: 0px;
  }
  #hidden-wordpress-photo-church {
      width: 36%;
      height: 250px;
      display: inline;
      margin-right: -10px;
      margin-top: 0px;
      position: relative;
      border-radius: 0px;
  }
  .wordpress-hidden {
      position: relative;
      color: rgb(255, 255, 255);
      margin-top: -229px;
      margin-left: 495px;
      width: 290px;
      text-align: center;
      font-size: 1.1em;
  }
  .design-info-scratch {
      height: 250px;
      margin-top: 50px;
      background-color: rgb(51, 51, 51);
      position: absolute;
  }
  #hidden-scratch-photo-center {
      width: 36%;
      display: inline;
      margin-right: 0px;
      margin-left: 360px;
      margin-top: 3px;
      position: relative;
      border-width: 1px;
      border-style: solid;
      border-color: grey;
      border-radius: 0px;
    }
}
